<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CQRS.Core.Properties.Settings.CQRSConnectionString"
            connectionString="Data Source=MEGATRON\FLOYDTHEBARBER;Initial Catalog=CQRS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>